# Node
node_modules/
yarn.lock
pnpm-lock.yaml

# Python
__pycache__/
*.pyc
.env
.venv/

# Build
frontend/dist/
backend/.pytest_cache/
.idea/
.vscode/
.DS_Store
.aider*

# Backend specific
backend/venv/
venv/
*.db
*.db-*
*.log
chain.json
mempool.json
frontend/dist/
